p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.formbody {
  width: 40%;
  margin: 1rem auto;
}

input[type="text"] {
  width: 100%;
  font-size: 1.2rem;
}

.preptime {
  width: 3.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.inputGroup:last-child {
  margin-bottom: 0;
}

.pizzaFields {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}

.pizzaFields, .sandwichFields input {
  width: 10rem;
}

.soupFields {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  flex-direction: column;
}
.soupFields input{
  width: 10rem;
}

.sandwichFields {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  flex-direction: column;
}

button{
  width: 100%;
}